<div class="row">
    <div class="col-12">
        <div class="inline">   <h2>KWHMeters</h2><span></span></div>
     <p  [ngClass]="{isSuccess:isSuccess, isFail:!isSuccess}">{{msg}}</p>
        

       
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="" *ngFor="let m of kwhMeters">
            <dl>
                <dt >
                    <span> {{m.wattHourMeterName}}電表: </span>
                    <span class="fa fa-trash  float-right mr-2" (click)="deleteMeter(m.id)"></span>
                    <span class="fa fa-pen float-right mr-2" (click)="editMeter(m.id)"></span>
                </dt>
             
                <dd>
                    Total {{m.kwh}} kwh per month
                </dd>
            </dl>
            
        </div>
    </div>
</div>
