<div class="row">
    <div class="col-md-8">
        <div class="inline">   <h2>Floors</h2><span></span></div>
        <div class="" *ngFor="let m of floors">
            <dl>
                <dt>
                    <span> {{m.floorName}}樓層 </span>

                </dt>
            </dl>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Watt</th>
                            <th>KWH/month</th>
                            <th>Max A</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let a of m.appliances">
                            <td> {{a.name}}{{a.spec}}</td>
                            <td>  <span *ngIf="a.watt">Watt:{{a.watt}}W</span></td>
                            <td ><span *ngIf="a.kwh">{{a.kwh}}度電</span></td>
                            <td>{{a.maxA}}A</td>
                        </tr>


                
                    </tbody>
                </table>

          

        </div>

    </div>
    <div class="col-md-4">
        <div class="" *ngFor="let m of meters;let i=index">
            <dl>
                <dt>
                    <span> {{m.wattHourMeterName}}電表: </span>
                  
                </dt>
        
                <dd>
                    Max A={{m.maxA}}A<br />
                    Total {{m.kwh}} kwh per month<br />
                    帳單(兩個月)試算:  <span style="font-style:italic;font-size:small;color:grey">*非時間電價*非營業用</span><br />

                    夏月(6/1~9/30)=
                    {{summerBill[i]}}元<br />
                    非夏月=
                    {{nonSummerBill[i]}}元<br />
                </dd>
            </dl>

        </div>
    </div>
</div>