<div class="row">
    <div class="col-12">
        <div class="inline">   <h2>Floors</h2><span></span></div>
        <div class="" *ngFor="let m of floors">
            <dl>
                <dt>
                    <span> {{m.floorName}}樓層 </span>
                    <span class="fa fa-trash  float-right mr-2" (click)="deleteFloor(m.id)"></span>
                    <span class="fa fa-pen float-right mr-2" (click)="editFloor(m.id)"></span>
                </dt>
                <dd>

                
                </dd>
                <dt *ngIf="false">
                    <input name={{m.id}} value={{m.floorName}} 樓層: size="10" (focusout)="focusoutHandler($event)" />
                    <i class="fa fa-save float-right" style="font-size:large" (click)="saveEdit(m.name)"></i>
                </dt>

            </dl>

        </div>

    </div>
</div>