
        
        <div class="card-columns">
            <div class="card" *ngFor="let app of appliances">
                <div class="card-header">
                    
                    <div class="row justify-content-between">
                        <div >   {{app.name}}</div>
                        <div >
                            <span class="fa fa-trash   mr-2" (click)="deleteAppliance(app.id)"></span>
                            <span class="fa fa-pen  mr-2" (click)="editAppliance(app.id)"></span>
                        </div>
                      
                    </div>

                </div>
                <div class="card-body">
                    <span>{{app.spec}}</span>
                    <div *ngIf="app.watt">Watt:{{app.watt}}W</div>
                    <div *ngIf="app.kwh">KWH:{{app.kwh}}度電/month</div>
                    <div *ngIf="app.voltage">{{app.voltage}}V</div>
                    <div *ngIf="app.description">{{app.description}}</div>
                    <div *ngIf="app.userHrPerMonth">{{app.userHrPerMonth}}</div>
                    <div *ngIf="app.floorName">{{app.floorName}}樓層</div>
                    <div *ngIf="app.wattHourMeterName">{{app.wattHourMeterName}}電表</div>

                </div>
            </div>

        </div>


          
